.tile {
	/* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
	background-color: #fff;
	margin: 0 0.5rem;
	padding: 0;
}

.tileText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tileTitle {
	margin-top: 3rem;
	line-height: 1.5;
	width: 60%;
}

.tilePara {
	width: 60%;
	line-height: 1.5;
	margin:0 0 1.5rem;
}

.tileImage {
	margin-top: 2rem;
	height: auto;
	min-width: 100%;
	object-fit: cover;
}
